<div class="content">
  <md-card class="signin-card">
    <md-card-header>
      <div md-card-avatar class="header-image"></div>
      <md-card-title>Register your business or location.</md-card-title>
      <md-card-subtitle>All submitions will be manually reviewed.</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/header_small.svg">
    <md-card-content>
      <p>
        Al ingresar este formulario, la información será revisada y personal de Q-Bot se pondrá en contacto con usted para hacerle llegar su usuario y contraseña.
      </p>
      <p>
        Los datos ingresados serán tomados en cuenta sólo si existe un contrato activo entre el cliente y Q-Bot. Al existir dicho contrato, estos datos alimentarán las neuronas artificiales de Q-Bot.
      </p>
      <md-list>
        <h3 md-subheader>Contact Information</h3>
        <!-- <md-list-item>
          <md-input-container>
            <input type="text" name="name" mdInput placeholder="Contact name" [(ngModel)]="location.contactName">
          </md-input-container>
          <md-input-container>
            <input type="email" name="email" mdInput placeholder="Contact email" [(ngModel)]="location.contactEmail">
          </md-input-container>
          <md-input-container>
            <input type="phone" name="phone" mdInput placeholder="Contact phone number" [(ngModel)]="location.contactPhone">
          </md-input-container>
          <md-input-container>
            <input type="text" name="address" mdInput placeholder="Contact address" [(ngModel)]="location.contactAddress">
          </md-input-container>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Location Information</h3>
        <md-list-item>
          <md-input-container>
            <input type="text" name="name" mdInput placeholder="Location name" [(ngModel)]="location.name">
          </md-input-container>
          <md-select placeholder="Category" [(ngModel)]="location.name" name="category">
            <md-option *ngFor="let category of categories" [value]="category.value">
              {{category.name}}
            </md-option>
          </md-select>
          <md-input-container>
            <input type="text" name="address" mdInput placeholder="Location address" [(ngModel)]="location.address">
          </md-input-container>
          <md-input-container>
            <input type="phone" name="phone" mdInput placeholder="Location phone number" [(ngModel)]="location.phone">
          </md-input-container>
        </md-list-item>
        <h3 md-subheader>External links</h3>
        <md-list-item>
          <md-input-container>
            <input type="url" name="url" mdInput placeholder="Location website" [(ngModel)]="location.website">
          </md-input-container>
          <md-input-container>
            <input type="text" name="facebook" mdInput placeholder="Facebook url" [(ngModel)]="location.facebook">
          </md-input-container>
          <md-input-container>
            <input type="text" name="twitter" mdInput placeholder="Twitter url" [(ngModel)]="location.twitter">
          </md-input-container>
          <md-input-container>
            <input type="text" name="information" mdInput placeholder="Aditional information" [(ngModel)]="location.information">
          </md-input-container>
        </md-list-item> -->
        <h3 md-subheader>Map location</h3>

      </md-list>
    </md-card-content>
    <md-card-actions>
      <span class="fill"></span>
      <button md-raised-button (click)="save()">SUBMIT</button>
    </md-card-actions>
  </md-card>
</div>
