.content{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 100px;
}

md-card{
  margin: 10px auto;
}
.signin-card{
  max-width: 800px;
}

md-card-actions{
  display: flex;
}

.header-image{
  background-image: url('../../assets/logo.png');
  background-size: cover;
}

md-input-container, md-select{
  width: 100%;
}

md-select{
  margin-bottom: 10px;
}

md-divider{
  margin: 50px 0;
}

button.card-fab{
  bottom: -30px;
}

agm-map {
  height: 300px;  
}
